.jigsaw-puzzle {
  position: relative;
  border: solid 1px;
}

.jigsaw-piece {
  display: block;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 1px #ddd;
  position: absolute;
}

.jigsaw-piece.ui-draggable-dragging {
  box-shadow: 0px 0px 2px #333;
  opacity: 0.85;
}
