/* some style */

.puzzle {
  border: solid 1px;
  position: relative;
}

.piece {
  /* margin-bottom: 1px; */
  /* margin-left: 1px; */
  padding: 0;
  display: block;
  float: left;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 1px #ddd;
  /* border-right: solid 1px #fff; */
}

.ui-draggable-dragging {
  z-index: 2;
  box-shadow: 0px 0px 2px #333;
  opacity: 0.85;
}
