@charset "UTF-8";

input,textarea,select,button,option, body {
  font-size: 1.125rem/1.85625rem;
  font-family: system-ui, "Helvetica Neue",Helvetica,Arial,sans-serif
}

pre,code,kbd,samp,var,output{font-family: Menlo,Monaco,Consolas,"Courier New",monospace}
h1,h2,h3,h4,h5,h6{color:#000;margin-bottom:1.125rem}
h1{font-size:2.25rem;font-weight:500;line-height:2.7rem}
h2{font-size:1.575rem;font-weight:400;line-height:2.1375rem}
h3{font-size:1.35rem;line-height:1.6875rem}
h4{font-size:1.125rem;line-height:1.4625rem}

/* html,body{width:100%} */
html{height:100%}
body{background:#fff;color:#1a1919;padding:36px}
p,ul,ol,dl,blockquote,hr,pre,table,form,fieldset,figure,address{
  margin-top: 0;
  margin-bottom: 1.375rem
}
ol, ul{
  padding-left: 1.625rem;
}

li {
  margin-bottom: 1rem;
}
li dl,li ol,li ul{}
article{}
header,footer{ }

header { padding: 0; }
header p {
  margin-bottom: 1rem;
}

thead tr {
}

thead th {
  padding: 0.5em;
  border-bottom: solid 1px;
}

tbody td {
  padding: 0.25em 0.5em;
}

h1.title {
  margin-top: 0;
}

h2.subtitle {
  margin-top: 0;
  /* font-weight: normal; */
  /* color: #777; */
  /* font-size: 0.8em; */
}

#content {
  max-width: 960px;
}

#content p {
  max-width: 640px;
}

#tabs {
  margin-bottom: 1.625rem;
}

/* jquery ui customisations */
#content.ui-widget-content {
  border: none;
}

#tabs.ui-widget-header {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #d4ddfb;
  background: none;
}

.ui-tabs .outline-2.ui-tabs-panel {
  padding: 0;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.outline-text-2 {
  /* padding: 0.5em 0; */
}

.linenr {
  color: #aaa;
}

.klipse-snippet {
  margin-bottom: 0.25em;
  font-size: 1.1em;
}

.klipse-result {
  margin-bottom: 2em;
}

.klipse-result::before {
  color: #999;
  content: 'result of evaluation:';
  font-size: 0.85em;
}

.klipse-separator {

}

button {
  padding: 0.25em 1.25em;
}

.hint-block {
  margin-bottom: 1em;
}

.revealable-block {

}

.revealable-header {
}

.revealable-body {
  padding-top: 1em;
  display: none;
}

.revealable-visible > .revealable-body {
  display: block;
}

.hint {
  display: none;
}

.hint-visible {
  display: block;
}
